<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <TinyTweaks.CurrentModVersion>Установленная версия мода: {0}</TinyTweaks.CurrentModVersion>
  <TinyTweaks.SettingsCategory>Tiny Tweaks</TinyTweaks.SettingsCategory>
  <TinyTweaks.NextPage>След. страница</TinyTweaks.NextPage>
  <TinyTweaks.PreviousPage>Пред. страница</TinyTweaks.PreviousPage>
  <TinyTweaks.Expand>Раскрыть</TinyTweaks.Expand>
  <TinyTweaks.Collapse>Свернуть</TinyTweaks.Collapse>
  <TinyTweaks.GameRestartNotRequired>Примечание: изменения, внесённые в эти настройки, будут применены мгновенно — перезапуск игры не требуется.</TinyTweaks.GameRestartNotRequired>
  <TinyTweaks.GameRestartRequired>Примечание: требуется перезапуск игры, чтобы любые изменения в этих настройках вступили в силу.</TinyTweaks.GameRestartRequired>
  <!-- QoL Changes -->
  <TinyTweaks.QualityOfLifeChangesHeading>Полезные изменения (Quality of Life)</TinyTweaks.QualityOfLifeChangesHeading>
  <TinyTweaks.QoLChanges.AnimalMedicalAlerts>Оповещения о состоянии здоровья животных</TinyTweaks.QoLChanges.AnimalMedicalAlerts>
  <TinyTweaks.QoLChanges.AnimalMedicalAlerts_ToolTip>Оповещения будут показываться, когда животные ранены, нуждаются в спасении или находятся в опасном для жизни состоянии, сродни оповещениям о состоянии здоровья поселенцев.</TinyTweaks.QoLChanges.AnimalMedicalAlerts_ToolTip>
  <TinyTweaks.QoLChanges.CaravanFoodRestrictions>Назначение диеты для участников караванов</TinyTweaks.QoLChanges.CaravanFoodRestrictions>
  <TinyTweaks.QoLChanges.CaravanFoodRestrictions_ToolTip>При выборе одного из ваших караванов на карте мира и переходе на вкладку «Груз», рядом с кнопкой «Политика приёма препаратов» появится кнопка «Назначить диету».</TinyTweaks.QoLChanges.CaravanFoodRestrictions_ToolTip>
  <TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings>Автоматически назначать животных следовать за своим хозяином</TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings>
  <TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings_ToolTip>Животные, которые были обучены преданности, будут автоматически назначены следовать за своим хозяином при призыве или выполнении работ.</TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings_ToolTip>
  <TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry>Автоматически отмечать для разбора/демонтажа закончившие работу водяные помпы</TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry>
  <TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry_ToolTip>Водяные помпы, которые закончили осушение, будут автоматически отмечены для разбора или демонтажа, в зависимости от того, что более уместно.</TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry_ToolTip>
  <TinyTweaks.QoLChanges.AutoOwl>Автоматически назначать расписание сна для сов</TinyTweaks.QoLChanges.AutoOwl>
  <TinyTweaks.QoLChanges.AutoOwl_ToolTip>Вновь сгенерированным поселенцам с чертой «сова» будет автоматически установлено расписание сна так, чтобы они спали в течение дня.</TinyTweaks.QoLChanges.AutoOwl_ToolTip>
  <TinyTweaks.QoLChanges.MedBedMedicalAlert>Показывать оповещения «Нужно лечение» для поселенцев на больничных кроватях</TinyTweaks.QoLChanges.MedBedMedicalAlert>
  <TinyTweaks.QoLChanges.MedBedMedicalAlert_ToolTip>Если у поселенца есть травмы или заболевания, которые нуждаются в уходе, и он уже отдыхает на больничной кровати, по-прежнему показывать оповещения «Нужно лечение» для них.</TinyTweaks.QoLChanges.MedBedMedicalAlert_ToolTip>
  <TinyTweaks.QoLChanges.AlphabeticalBillList>Сортировать список заданий верстака в алфавитном порядке</TinyTweaks.QoLChanges.AlphabeticalBillList>
  <TinyTweaks.QoLChanges.AlphabeticalBillList_ToolTip>Выпадающий список при нажатии кнопки «Задания» на любом верстаке будет отсортирован по алфавиту.</TinyTweaks.QoLChanges.AlphabeticalBillList_ToolTip>
  <TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories>Совмещение вкладок меню «Проекты»</TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories>
  <TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories_ToolTip>Некоторые вкладки меню «Проекты» из некоторых модов будут объединены со вкладками оригинальной игры (например, «Furniture+» из More Furniture объединится со вкладкой «Мебель» (Furniture)). В некоторых случаях также могут быть добавлены новые вкладки меню (например, постройки из LWM Deep Storage получат свою собственную вкладку «Storage»).</TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories_ToolTip>
  <TinyTweaks.QoLChanges.ChangeDefLabels>Прописные/строчные буквы в названиях</TinyTweaks.QoLChanges.ChangeDefLabels>
  <TinyTweaks.QoLChanges.ChangeDefLabels_ToolTip>Названия предметов и заданий на производство будут приведены к стилю оригинальной игры в плане просписных букв (например,\nWhite Composite Water Tower =>\nWhite composite water tower).</TinyTweaks.QoLChanges.ChangeDefLabels_ToolTip>
  <TinyTweaks.QoLChanges.ShowGenderAgeCaravanFormDialog>Показывать пол и возраст в окне формирования каравана</TinyTweaks.QoLChanges.ShowGenderAgeCaravanFormDialog>
  <TinyTweaks.QoLChanges.ShowGenderAgeCaravanFormDialog_ToolTip>Показывать пол и возраст персонажей в окне формирования каравана (как в окне торговли).</TinyTweaks.QoLChanges.ShowGenderAgeCaravanFormDialog_ToolTip>
  <!-- Bug Fixes -->
  <TinyTweaks.BugFixes.FixAnimalCount>Исправить подсчёт животных в окне «Управление забоем»</TinyTweaks.BugFixes.FixAnimalCount>
  <TinyTweaks.BugFixes.FixAnimalCount_ToolTip>Показатель общего количества пригодных для забоя животных в колонке «Всего» окна «Управление забоем» теперь будет учитывать беременных животных только в том случае, если установлен соответствующий флажок.\nЭто исправление влияет только на визуальное отображение; расчёт количества животных с позиции игрового процесса изначально был правильным.</TinyTweaks.BugFixes.FixAnimalCount_ToolTip>
  <!-- Balance Changes -->
  <TinyTweaks.BalanceChangesHeading>Изменения баланса</TinyTweaks.BalanceChangesHeading>
  <TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding>Кровообращение влияет на кровотечение</TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding>
  <TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding_ToolTip>Скорость кровотечения персонажей будет умножена на их показатель кровообращения.</TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding_ToolTip>
  <TinyTweaks.BalanceChanges.ChangeQualityDistribution>Распределение качества, более зависящее от навыков</TinyTweaks.BalanceChanges.ChangeQualityDistribution>
  <TinyTweaks.BalanceChanges.ChangeQualityDistribution_ToolTip>Навык имеет значительно большее значение при создании изделий, имеющих качество. Распределение качества также сосредоточено вокруг уровня 6 вместо уровня 4.</TinyTweaks.BalanceChanges.ChangeQualityDistribution_ToolTip>
  <TinyTweaks.BalanceChanges.DelayedSkillDecay>Отложенное снижение накопленного опыта</TinyTweaks.BalanceChanges.DelayedSkillDecay>
  <TinyTweaks.BalanceChanges.DelayedSkillDecay_ToolTip>8 игровых часов должно пройти с момента, когда колонист в последний раз набрал не менее 2000 опыта в данном навыке, прежде чем начнется снижение накопленного опыта.</TinyTweaks.BalanceChanges.DelayedSkillDecay_ToolTip>
  <!-- Tiny Additions -->
  <TinyTweaks.TinyAdditionsHeading>Небольшие дополнения</TinyTweaks.TinyAdditionsHeading>
  <TinyTweaks.TinyAdditions.RandomStartingSeason>Вариант случайного стартового сезона</TinyTweaks.TinyAdditions.RandomStartingSeason>
  <TinyTweaks.TinyAdditions.RandomStartingSeason_ToolTip>При открытии меню «Настройки» при создании новой планеты, появится возможность выбрать случайный стартовый сезон.</TinyTweaks.TinyAdditions.RandomStartingSeason_ToolTip>
  <!--The following translations were generated by https://www.deepl.com/-->
  <TinyTweaks.BugFixesHeading>Исправления ошибок</TinyTweaks.BugFixesHeading>
  <TinyTweaks.BugFixes.MeleeArmourPenetration>Масштабирование бронепробиваемости в ближнем бою</TinyTweaks.BugFixes.MeleeArmourPenetration>
  <TinyTweaks.BugFixes.MeleeArmourPenetration_ToolTip>Заданные значения бронепробиваемости для оружия ближнего боя, такого как копья, будут зависеть от качества оружия и материала, из которого оно сделано.</TinyTweaks.BugFixes.MeleeArmourPenetration_ToolTip>
</LanguageData>
